<template>
  <div style="background-color: #ececec; padding:0 20px;user-select:none;">
    <a-row class="flex2">
      <a-form-model-item   class="inp" label="工序">
        <a-select v-model="selectedProcess"  class="changeWidth" mode="multiple" :token-separators="[',']">
          <a-select-option v-for="item in processes" :key="item.id" :value="item.value">{{item.label}}</a-select-option>
        </a-select>
      </a-form-model-item>
      <a-button @click="filterData">查询</a-button>
      <a-button @click="clear">清除查询</a-button>
      <span class="fontstyle">自动翻页：<a-switch v-model="isOpen" checked-children="开启" un-checked-children="关闭" @change="autoPange"/></span>
      <div class="fontstyle"><span>翻页频率(秒/次)：</span><a-input @input="upd" style="width:100px;" type="number" v-model.number="updatedTime"  placeholder="翻页频率"/></div>
    </a-row>
    <a-row class="hg" style="padding:20px 0;">
      <a-table :pagination="pagination" :row-class-name="(record, index) => (index % 2 === 1 ? 'table-striped' : null)"  :dataSource="listdata" :columns="columns" rowKey="id" size="small" :scroll="{ x: true}">
        <!-- <div slot="enabled" slot-scope="text" >{{text?'启用中':'关闭中'}}</div>
        <div slot="step" slot-scope="text" :data-id="text" >{{text|fmtStep}}</div> -->
        <a-tag slot="agvId" slot-scope="text" :data-ids="text"  class="fontstyle" type="primary">{{text}}</a-tag>
        <a-tag slot="agvstate" slot-scope="text" :data-ids="text"  :style="{backgroundColor:[7,8,9].includes(text)?'red':text==6?'yellow':'',color:[7,8,9].includes(text)?'white':''}" type="primary">{{text|fmtAgvState}}</a-tag>
      </a-table>
      <!-- <a-pagination  :page-size="pagination.pageSize" v-model="pagination.current"  style="margin-top:10px"  show-quick-jumper  :total="total" @change="ChangePage" /> -->
    </a-row>
    <div class="btm">
      <div class="line"><span>每页行数:</span><a-input @input="pagination.current=1" style="width:100px;" type="number" v-model.number="pagination.pageSize"  placeholder="每页行数"/></div>
      <a-pagination :page-size="pagination.pageSize"  v-model="pagination.current"  show-quick-jumper  :total="total" @change="ChangePage" />
    </div>
  </div>
</template>

<script>
// import {makeColumns} from '../../utils'

//查询机台实时缓存信息，简单机台维护，如开启对接等
let vueApp=null;
export default {
  name: "stationState",
  data(){
    return{
      pagination: {
        pageSize: Number(localStorage.getItem('pageSize'))?Number(localStorage.getItem('pageSize')):15,//每页中默认显示15条数据
        defaultPageSize:10,
        current: 1,
      },
      total:0,//查询得到数据的条数
      maxPage:0,//最大页数
      data:[],//查询结果
      columns: require('../data/columns_stationinfolist.json'),//表头
      allstations: [], //所有机台缓存状态
      group:{}, //{step1:[[id,name],[id,name],..], step2:[],...}
      //卡片列表数据
      listdata:[],
      processes:[],
      selectedProcess:undefined,//被选中的工序
      isOpen:true,//是否开启自动翻页
      updatedTime:Number(localStorage.getItem('updatedTime'))?Number(localStorage.getItem('updatedTime')):10,//默认10秒翻页一次
      agvStateName:require('../data/agv_state.json'),
      listdataCache:{}
    }
  },
  watch:{
    pagination:{
      handler(newVal, oldVal) {
        console.log('form', newVal, oldVal)
        console.log(this.pagination.pageSize)
        localStorage.setItem('pageSize', this.pagination.pageSize);
        if((this.total??'')!='')this.maxPage=Math.ceil(this.total/Number(this.pagination.pageSize))
        if(this.pagination.current>this.maxPage)this.pagination.current=1
      },
      deep: true
    },
  },
  filters:{
    fmtAgvState:val=>{
      let agvStateNames = {...vueApp.agvStateName}
      let agvStateName = agvStateNames[val]
      if(agvStateName){
        return agvStateName
      }
      return val
    },
  },
  created() {
    this.initWebSocket()
    if(this.timer) clearTimeout(this.timer)
    this.queryStationInfo()
    this.queryProcess()
  },
  beforeMount() {
    this.addRender()
    vueApp=this
  },
  mounted(){
    this.timer_checkAgvLocked=setInterval(()=>{
      this.checkAgvLocked()
    },2000)
  },
  beforeDestroy() {
    clearInterval(this.timer_agvInfo)
    clearTimeout(this.timer);
    this.timer = null;
    this.socket.close()
  },
  methods:{
    upd(){
      localStorage.setItem('updatedTime',this.updatedTime)
      clearInterval(this.timer_current)
      this.timer_current=setInterval(()=>{this.pagination.current++},this.updatedTime*1000)
    },
    autoPange(bol){
      if(!bol){
        clearInterval(this.timer_current)
        this.isOpen=false
      }else{
        this.timer_current=setInterval(()=>{this.pagination.current++},this.updatedTime*1000)
        this.isOpen=true
      }

    },
    filterData(){
      clearInterval(this.timer_current)
      let result = [...this. allstations]
      if(this.selectedProcess?.length!=0){
        console.log(this.selectedProcess)
        result = result.filter(d=>`${this.selectedProcess}`.includes(`${d.process}`))
      }
      this.listdata = result
      this.total=Number(this.listdata.length)
      this.pagination.current=1
      this.timer_current=setInterval(()=>{this.pagination.current++},this.updatedTime*1000)
    },
    clear(){
      this.selectedProcess=undefined
      this.queryStationInfo()
    },
    queryProcess(){
      this.axios.get(`dict/process`).then((res)=>{
        console.log('processes',res.data)
        this.processes = res.data
      })
    },
    ChangePage(pageNumber){
      if(this.isOpen){
        clearInterval(this.timer_current)
        this.timer_current=setInterval(()=>{this.pagination.current++},this.updatedTime*1000)
        this.pagination.current=pageNumber
      }else{
        clearInterval(this.timer_current)
      }
    },
    addRender(){
      let b = this.columns.find(e=>e.dataIndex=='commonAction')
      if(b == undefined){//避免重复mounted时重复push(一般在开发模式下发生）
        let col = { title: '', dataIndex: 'commonAction', key: 'commonAction', fixed: 'bottom',width:0, scopedSlots: { customRender: 'commonAction' } }
        this.columns.push(col)
      }
    },
    queryStationInfo(){
      this.axios.post(`station/list`, {})
        .then(res=>{
          if(res.status==200 && Array.isArray(res.data)){
            console.log(res.data)
            let group = {}
            res.data.forEach(item=>{
              if(typeof(item) == 'string'){
                item = JSON.parse(item)
              }
              if(group[item.step]){
                group[item.step].push([item.id,item.name])
              }else{
                group[item.step] = [[item.id,item.name]]
              }
            })
            this.group = group
            this.allstations = res.data
            this.listdata=res.data
            this.total=Number(this.listdata.length)
            if((this.total??'')!='')this.maxPage=Math.ceil(this.total/Number(this.pagination.pageSize))
            console.log('group',this.group)
            console.log('station',this.allstations)
            //查询缓存agvinfo，检查targetPoint zhengys
            this.checkAgvLocked()
            clearInterval(this.timer_current)
            this.pagination.current=1
            this.timer_current=setInterval(()=>{this.pagination.current++},this.updatedTime*1000)
          }else{
            console.log(res.data)
            this.$message.warning(`查询机台信息失败`)
          }
        }).catch(err=>{
          this.$notification.error({message:'查询机台实时状态失败',description: err})
        })
    },
    initWebSocket(){
      //初始化websocket
      if(typeof(WebSocket) === "undefined"){
        this.$message.info("您的浏览器不支持WebSocket")
      }else{
        try {
          //方式一：走服务端的代理，即需要nginx配置/msg代理转发
          var url = new URL(document.location.href);
          var wsurl = `ws://${url.hostname}:${url.port||80}${process.env.VUE_APP_WS_PATH}/msg?type=stationinfo`
          if(process.env.VUE_APP_PROXY){
            //方式二：若指定了服务地址VUE_APP_PROXY，则采用VUE_APP_PROXY与后台建立连接，不通过nginx代理
            wsurl = 'ws://' + process.env.VUE_APP_PROXY + `/msg?type=stationinfo`
          }

          this.$message.info('正在建立WebSocket通道: ' +  wsurl);
          this.socket = new WebSocket(wsurl);
          this.socket.onopen = this.onSocketOpen;
          console.log(this.socket.onopen)
          this.socket.onerror = this.onSocketError;
          this.socket.onmessage = this.onSocketMessage;
          console.log(this.socket.onmessage)
          this.socket.onclose = ()=>{console.log('socket is closed')};
        }catch (e) {
          console.error(e);
        }
      }
    },
    onSocketOpen(){
      console.log(`socket连接成功`)
      this.$message.success("socket连接成功")
      this.timer_agvInfo=setInterval(()=>{
        if(Object.keys(this.listdataCache).length!=0&&this.listdataCache){
          Object.keys(this.listdataCache).forEach((item)=>{
            this.listdata.forEach(d=>{
              if(d.id==this.listdataCache['id'])d={...d,...item}
            })
          })
        }
        this.checkAgvLocked()
      },2000)
    },
    onSocketError(){
      console.log(`socket连接失败`)
      this.$message.error("socket连接失败")
      setTimeout(this.initWebSocket, 10000); //会在每一次Err后执行，
    },
    onSocketMessage(evt){
      console.log(evt.data)
      //{"power":100,"commandStatus":0,"currentX":-931,"currentY":-514,"dataStr":"A1010505015DFCFEFD006400","direction":1,"id":1,"ip":"127.0.0.1","loadings":0,"port":63597,"routeId":5,"state":5,"stateTitle":"TZ","ts":1618565978961}
      var data = evt.data;
      if(typeof(data) === 'string'&&data.startsWith('{')){
        data = eval('('+data+')');
      }
      console.log(data)
      if(data && data.objType && data.objType == 'stationinfo'){//机台反馈信息：id,name,outNum,inNum,controlState机台状态，ts
        console.log('stationinfo',data)
        let index=this.allstations.findIndex(i=>i.id==data.id)
        this.allstations[index]=Object.assign(this.allstations[index],data)
        let lisindex=this.listdata.findIndex(i=>i.id==data.id)
        // if(lisindex)this.listdata[lisindex]=this.allstations[index]
        if(lisindex)this.listdataCache[lisindex]=this.allstations[index]
      }
    },
    checkAgvLocked(){
      //卡片模式下，存在前页数据时检查AGV锁状态
      if(this.listdata && this.listdata.length){
        this.axios.get(`cache/lockp`).then(res=> {
          if(res.status == 200){
            // this.makeLockData(res.data)
            this.listdata.forEach((d,i)=>{
              if(res.data[d.doPoint]){
                d['agvId'] = res.data[d.doPoint] //agvId
              }else{
                d['agvId'] = ''
              }
              this.$set(this.listdata,i,d)
            })
            this.queryAgvreply()
          }else{
            this.$message.warning(`查询Agv状态缓存失败`)
          }
        }).catch(err=>{
          this.$message.error(`查询Agv状态缓存失败, ${err}`)
        })
      }
    },
    queryAgvreply(){
      //卡片模式下，存在前页数据时检查AGV锁状态
      this.axios.get(`cache/agvreply/list`).then(res=> {
        if(res.status == 200){
          // this.makeLockData(res.data)
          this.listdata.forEach((d,i)=>{
            res.data.forEach((item)=>{
              // console.log(item[d['agvId']])
              if(d['agvId']==item.id){
                d['agvstate']=item.state
              }else{
                d['agvstate'] = ''
              }
              this.$set(this.listdata,i,d)
            })
          })
        }else{
          this.$message.warning(`查询Agv状态缓存失败`)
        }
      }).catch(err=>{
        this.$message.error(`查询Agv状态缓存失败, ${err}`)
      })
    },
  }
}
</script>

<style lang="scss" scoped>
*{
  margin: 0;
  padding: 0;
  font-size: 20px !important;
}
::v-deep .ant-table-thead > tr > th,::v-deep .ant-table-tbody > tr > td{
  text-align: center;
}
.add{
  padding: 5px 10px;
  margin-bottom: 10px;
  border: 1px solid #d9d9d9;
}
::v-deep .ant-table-scroll table{
  font-size: 20px;
  background: white;
  // overflow: auto;
  //   height: 82vh;
}
::v-deep .ant-radio-button-wrapper:first-child:last-child{
  width: 150px;
}
.menu-img{
  width: 20px;
  height: 20px;
}
::v-deep .ant-row-flex{
  justify-content: space-around;
}
::v-deep .ant-slider {
  // width: 200px;
  margin: 0;
  padding: 0;
}
::v-deep .ant-slider-rail{
  height: 10px;
}
::v-deep .ant-slider-track{
  height: 10px;
}
::v-deep .ant-slider-handle{
  height: 20px;
  width: 20px;
}
::v-deep .ant-table-thead > tr > th{
  background-color: #fafafa !important;
  color: rgba(0, 0, 0, 0.65);
  font-weight: bold;
}
::v-deep .table-striped {
  background-color: #f0f0f0;
}
::v-deep .ant-modal-footer{
  display: none;
}
::v-deep .ant-table-pagination.ant-pagination{
  display: none;
}
.btm{
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 5vh;
}
.hg{
  overflow: auto;
    height: 90vh;
}
.line span{
  color: #00b5ff;
  font-weight: bold;
}
.inp{
  display: flex;
  justify-content: center;
  height: 5vh;
}
::v-deep .ant-form-item{
  margin: 0;
}
::v-deep .ant-select-selection--multiple{
  min-width: 100px;
}
.flex2{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 5vh;
  button{
    margin: 0 10px;
  }
}
.fontstyle{
  color: #00b5ff;
  font-weight: bold;
}
</style>
