<template>
  <div>
    <a-row class="query-form" style="text-align: left;height: 60px;">
      <a-select :value="defaultItem" style="width: 500px" mode="multiple" placeholder="Please select" @change="changeHandle">
        <a-select-option v-for="step in filterSteps" :key="step.id" :value="step.id">{{step.name}}</a-select-option>
      </a-select>
    </a-row>

    <a-row>
      <a-card class="card" v-for="(item,keyn,index) of listdata" :key="index" :title="stepMap[keyn]">
        <a-table size="small" :dataSource="item" :columns="columns" :rowKey="item.doPoint" :pagination="false" style="font-weight: bold">
          <a-tag slot="enabled" slot-scope="text" :style="{backgroundColor: text?'':'red',color:text?'':'white'}">{{text?'开启':'关闭'}}</a-tag>
<!--          <a-tag slot="enabled" slot-scope="text" >{{text}}</a-tag>-->
          <a-tag slot="agvState" slot-scope="text"
                 :style="{backgroundColor:[7,8,9].includes(text)?'red':text==6?'yellow':text==1?'green':'',color:[1,7,8,9].includes(text)?'white':''}">{{text|fmtAgvState}}</a-tag>
        </a-table>
      </a-card>
    </a-row>
  </div>
</template>

<script>

import {axiosget} from "../../utils";
let vueApp = null
export default {
  name: "notice",
  data(){
    return{
      stations:{},
      steps:{},
      locked:[],
      agvReply:[],
      columns:[
        {"title":"AGV对接","dataIndex":"enabled","key":"enabled","scopedSlots": { "customRender": "enabled" }},
        {"title":"进/出料","dataIndex":"inOut","key":"inOut"},
        {"title":"机台名称","dataIndex":"name","key":"name"},
        {"title":"agv","dataIndex":"agvId","key":"agvId","scopedSlots": { "customRender": "agvId" }},
        {"title":"状态","dataIndex":"agvState","key":"agvState","scopedSlots": { "customRender": "agvState" }}], //表头
      defaultItem:[],
      listdata:{},
      group:[],
      stepMap:[],
      agvStateName:require('../../data/agv_state.json'),
    }
  },
  filters:{
    fmtAgvState:val=>{
      let agvStateNames = {...vueApp.agvStateName}
      let agvStateName = agvStateNames[val]
      if(agvStateName){
        return agvStateName
      }
      return val
    },
  },
  beforeMount() {
    vueApp=this
  },
  mounted(){
    this.querySteps();
    this.queryStationInfo();
  },
  computed: {
    filterSteps() {
      if (this.steps.length > 0) {
        return this.steps.filter(i => !this.defaultItem.includes(i.name));
      } else
        return null;
    },
  },
  methods:{
    queryStationInfo(){
      axiosget(`cache/stationinfo/list`,{},(data)=>{
        if(data&&typeof(data) === 'object'){
          this.stations = data.sort((a,b)=>a.id - b.id)
          let group = {}
          this.stations.forEach(item =>{
            if(item.doPoint){
              if(item.process !== 'HC'){
                if(group[item.step]){
                  group[item.step].push([item.doPoint,item.name,item.enabled,item.inNum,item.outNum])
                }else {
                  group[item.step] = [[item.doPoint,item.name,item.enabled,item.inNum,item.outNum]]
                }
              }
            }
          })
          this.group = group
        }else {
          this.$notification.warn({message:'查询机台实时状态失败'})
        }
      })
    },
    querySteps(){
      let that = this
      this.axios.get(`step/all`).then(res=>{
        if(res.status === 200){
          that.steps = res.data
          res.data.forEach(item =>{
            if(that.stepMap[item.id] === undefined){
              that.stepMap[item.id] = item.name;
            }
          })
        }else{
          that.$message.warning("步骤信息查询失败")
        }
      }).catch(err=>{this.$message.error(err)})
    },
    queryLocked(){
      if(Object.keys(this.listdata).length > 0){
        this.queryStationInfo();
        this.axios.get(`cache/lockp`).then(res=> {
          if(res.status === 200){
            Object.values(this.listdata).forEach(item=>{
              item.forEach((d,i)=>{
                let stationinfo = this.stations.filter(s => s.doPoint==d.doPoint)[0];
                d.enabled = stationinfo.enabled;
                d.inOut = stationinfo.inNum+'/'+stationinfo.outNum;
                if(res.data[d.doPoint]){
                  d['agvId'] = res.data[d.doPoint] //agvId
                }else {
                  d['agvId'] = '';
                }
                this.$set(item,i,d)
              })
            })
            // console.log(this.listdata)
            this.queryAgvReply()
          }else{
            this.$message.warning(`查询Agv状态缓存失败`)
          }
        }).catch(err=>{
          this.$message.error(`查询Agv状态缓存失败, ${err}`)
        })
      }
    },
    queryAgvReply(){
      axiosget('cache/agv/mapreplys',{},(data)=>{
        this.agvReply = data;
        Object.values(this.listdata).forEach(item=>{
            item.forEach((station,i) =>{
              if(this.agvReply[station.agvId]){
                station['agvState'] = this.agvReply[station.agvId].state;
              }else {
                station['agvState'] = '';
              }
              this.$set(item,i,station)
            })
          })
      })
    },
    changeHandle(value){
      this.defaultItem = value;
      if(value.length === 0){
        this.listdata = [];
        clearTimeout(this.timeout);
        return;
      }
      let all = {};
      value.forEach(k =>{
        let table = [];
        this.group[k].forEach(s =>{
          let row = {'doPoint':s[0],'name':s[1],'enabled':s[2],'inOut':s[3]+'/'+s[4]};
          table.push(row);
        });
        all[k]=table;
      })
      this.listdata = all;
      this.queryLocked();
      this.timeout = setInterval(this.queryLocked,1000);
    },
  }
}
</script>

<style scoped>
/deep/.ant-card-head{font-size:20px; font-weight: bold}
.card{width:32%;margin: 10px 10px;display: inline-block;float: left;min-width:500px;}
</style>